<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true"  *ngIf="postss.length>0 && !isLoading" >
  <mat-expansion-panel *ngFor="let post of postss;let i=index" >
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{post.title}}
      </mat-panel-title>

    </mat-expansion-panel-header>
    <div class="image-path">
      <img [src]="post.imagePath" [alt]="post.title">
    </div>
    <p>{{post.content}}</p>
    <mat-action-row *ngIf="isLogedIn">
      <a mat-button color="warn" (click)="postDelete(post._id,i)">Delete</a>
      <button mat-button color="primary" [routerLink]="['/edit',post._id]">Edit It</button>


    </mat-action-row>
  </mat-expansion-panel>

</mat-accordion>
<mat-paginator [length]="postlength" [pageSize]="postPerPage" [pageSizeOptions]="pageSizeOption" (page)="onChangePage($event)" *ngIf="postss.length>0"></mat-paginator>
<p *ngIf="postss.length==0 && !isLoading">no posts write now</p>

